* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}



#csshome {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.foto-home {
  display: flex;
  width: 150px;
  height: auto;
  border: 10px solid purple;
  border-radius: 300px;
  transition: transform 0.3s;
  margin-top: 20px;


}

.container-menu {
  margin-top: 150px;
  border: 5px solid transparent;
  border-image: linear-gradient(45deg, #ff00ff, #00ffff);
  border-image-slice: 1;
  border-image-source: linear-gradient(45deg, #ff00ff, #00ffff);
  border-top: none;
  border-left: none;
  border-right: none;
}


#btn-menu {
  position: fixed;
  margin-top: -100px;
  background-color: transparent;
  border: none;
  z-index: 2;


}

#iconMenu {
  width: 200px;
  margin-left: -80px;
  margin-top: -20px;
}




.txPortifolio {
  align-items: center;
  justify-content: center;
  margin-bottom: px;
  color: #ffff;
  margin-top: -110px;
  display: flex;

}

/* Adicione as regras de borda à .portifolio se necessário */
.portifolio {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0%;
}


.lista-menu {
  margin-top: -20%;
  /* Inicialmente, o menu está fora da tela acima */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  /* Defina a altura inicial para 0 */
  background-color: rgba(0, 0, 0, 90%);
  transition: height 0.3s ease;
  /* Efeito de transição suave para a altura */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20%;
  /* Isso ajuda a centralizar o conteúdo verticalmente */

}

.lista-menu.open {
  height: 50%;
  /* Quando a classe 'open' é aplicada, a altura é definida como 100% */
}

.lista-menu.open>li {

  text-decoration: none;
  height: 100%;
  /* Quando a classe 'open' é aplicada, a altura é definida como 100% */
  padding: 8px;
  display: flex;
  /* Quando a classe 'open' é aplicada, exibe os itens de lista como blocos */
  opacity: 1;
  /* Torna os textos visíveis */
  transform: translateY(0);
  /* Move os textos para a posição original */
  transition: opacity 0.3s ease, transform 0.3s ease;
  /* Efeito de transição suave para a visibilidade e a posição */
  padding: 8px;

}

.lista-menu>li {
  font-weight: bold;
  /* Torna o texto em negrito */
  font-size: 20px;
  display: none;
  padding: 8px;
  text-decoration: none;
  color: #FFFF;
  opacity: 0;
  /* Inicialmente, os textos estão ocultos */
  transform: translateY(-20px);
  /* Move os textos para cima */
  transition: opacity 0.3s ease, transform 0.3s ease;
  /* Efeito de transição suave para a visibilidade e a posição */

}

.lista-menu a {
  text-decoration: none;
  /* Remove o sublinhado dos links */
  color: #FFFFFF;
  /* Define a cor do texto para branco */
}



.front {
  color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.introducao {
  align-items: center;
  justify-content: center;
}


.nome {

  font-size: 30px;

  background-image: linear-gradient(45deg, #ff00ff, #00ffff);
  -webkit-background-clip: text;
  /* para navegadores baseados no motor WebKit, como Chrome e Safari */
  background-clip: text;
  /* para navegadores modernos */
  color: transparent;
  /* torna o texto transparente para que o gradiente seja visível */
}

.intro {
  color: gray;
}

#btn-cv {
  display: flex;
  width: 260px;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin: 23px auto;
  background-color: #ff00ff;
  border-radius: 15px;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.80);
  font-weight: 800;
  font-size: 16px;
  color: #FFFF;
  border: currentColor;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}


#btn-ct {
  display: flex;
  width: 260px;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin: 23px auto;
  background-color: #00ffff;
  border-radius: 15px;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.80);
  font-weight: 800;
  font-size: 16px;
  color: #FFFF;
  border: currentColor;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;

}



#btn-ct a {
  text-decoration: none;
  /* Remove o sublinhado dos links dentro do botão */
  color: inherit;
  /* Mantém a cor original do link */
}

.sobre {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.sobre-titulo {
  color: #FFFF;
}

p {
  color: gray;
  padding: 5px;
  margin: 5px;
}

.project {
  color: #FFFFFF;
  font-size: 40px;

}

.hab {
  color: #FFFF;
}

.foto-hab {
  width: 95%;
  margin: 20px;
  /* Define a largura da imagem em 50% da largura do contêiner pai */
  height: auto;
  /* Isso mantém a proporção original da imagem */
}

.contatos {
  color: #FFFF;
}

.name {
  background-image: linear-gradient(45deg, #ff00ff, #00ffff);
  -webkit-background-clip: text;
  /* para navegadores baseados no motor WebKit, como Chrome e Safari */
  background-clip: text;
  /* para navegadores modernos */
  color: transparent;

}


.contatosIn {
  text-align: center;
  /* Alinha os ícones horizontalmente */
  margin: 20px;

}

/*modal*/
.btn-project {
  display: flex;
  width: 150px;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin: 23px auto;
  background-color: #ff00ff;
  border-radius: 15px;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.80);
  font-weight: 800;
  font-size: 15px;
  color: #FFFF;
  border: currentColor;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  text-decoration: none;

}

.modal-content {
  background-color: rgb(252, 247, 247);
  align-items: center;
  justify-content: center;
  border: 5px solid transparent;
  margin-top: 30px;
  margin: 10px;
}

.github-link {
  margin: 20px;
  display: inline-block;
  text-decoration: none;
  background-color: #333;
  /* Cor de fundo do link */
  color: #fff;
  /* Cor do texto do link */
  padding: 10px 15px;
  /* Espaçamento interno */
  border-radius: 40px;
  /* Borda arredondada */
  transition: background-color 0.3s;
  /* Transição de cor de fundo ao passar o mouse */
}

.github-link img {
  width: 40px;
  /* Largura da imagem do ícone do GitHub */
  height: 40px;
  /* Altura da imagem do ícone do GitHub */
  border-radius: 10px;
}

.github-link:hover {
  background-color: #24292e;
  /* Cor de fundo ao passar o mouse (pode personalizar) */
}

.githubLink {
  margin: 20px;
  display: inline-block;
  text-decoration: none;
  background-color: #ff00ff;
  color: #fff;
  /* Cor do texto do link */
  padding: 10px 15px;
  /* Espaçamento interno */
  border-radius: 40px;
  /* Borda arredondada */
  transition: background-color 0.3s;
  /* Transição de cor de fundo ao passar o mouse */
}

.githubLink img {
  width: 40px;
  /* Largura da imagem do ícone do GitHub */
  height: 40px;
  /* Altura da imagem do ícone do GitHub */
  border-radius: 10px;
}

.githubLink:hover {
  background-color: #ff00ff;
}


@media (min-width: 481px) {
  .front {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .foto-hab {
    margin: 10px;
    padding: 10px;
    margin-right: 10px;
  }

  .foto-home {
    width: 200px;
    /* Largura da imagem */
    margin-right: 20px;
    /* Espaço entre a imagem e o texto */
    transition: transform 0.3s;
    margin-top: 20px;
    margin-left: 10px;
  }

  #foto-home:hover {
    transform: scale(1.1);
  }

  .introducao {
    margin-top: 15px;
    font-size: 10px;
    flex-grow: 1;
  }

  .nome {
    font-size: 20px;
  }



}

@media (min-width: 681px) {
  .front {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .foto-hab {
    width: 600px;
    height: auto;
  }

  .foto-home {
    width: 300px;
    /* Largura da imagem */
    padding: 0;
    margin-right: 20px;
    /* Espaço entre a imagem e o texto */
    margin: 30px;
    transition: transform 0.3s;
    margin-top: 20px;
  }

  #foto-home:hover {
    transform: scale(1.1);
  }

  .introducao {
    flex-grow: 1;
  }



}

@media (min-width: 870px) {
  .front {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .foto-hab {
    width: 800px;
    height: auto;
  }

  .foto-home {
    width: 400px;
    /* Largura da imagem */
    padding: 0;
    margin-right: 20px;
    /* Espaço entre a imagem e o texto */
    margin: 30px;
    transition: transform 0.3s;
    margin-top: 20px;
  }

  #foto-home:hover {
    transform: scale(1.1);
  }

  .introducao {
    margin-top: 10px;
    font-size: 15px;
    flex-grow: 1;
  }

  .nome {
    font-size: 30px;
  }

  .intro {
    font-size: 10px;
  }



}

@media (min-width: 1096px) {
  .front {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .foto-home {
    width: 400px;
    /* Largura da imagem */
    padding: 0;
    margin-right: 20px;
    /* Espaço entre a imagem e o texto */
    margin: 50px;
    transition: transform 0.3s;
    margin-top: 20px;
  }

  #foto-home:hover {
    transform: scale(1.1);
  }

  .introducao {
    margin-top: 20px;
    font-size: 30px;
    flex-grow: 1;
  }

  .nome {
    font-size: 55px;
  }

  .intro {
    font-size: 25px;
  }

  #btn-cv {

    width: 350px;
    height: 40px;
  }

  #btn-ct {

    width: 350px;
    height: 40px;
  }

  .sobre-titulo {
    font-size: 40px;
    color: #FFFF;
  }

  .tx-sobre {
    font-size: 30px;

    color: gray;
    padding: 5px;
    margin: 5px;
  }

  .hab {
    font-size: 40px;

    color: #FFFF;
  }



}