* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}


#cssSobre {
    background-color: #000000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.foto-sobre {
    display: flex;
       width: 150px;
       height: auto;
       border: 10px solid purple;
       border-radius: 300px;
       transition: transform 0.3s;
       margin-top: 20px;
     }

     .front-sobre{
        color: #ffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
      }